/* --- 1. Top Header --- */
.top-header {
  width: 100%;
  background-color: var(--primary-teal);
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 5%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 50;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 30px;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.5px;
  transition: opacity 0.3s;
}

.nav-links a:hover {
  opacity: 0.8;
}
