/* --- 2. Hero Section --- */
.hero-section {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("/src/assets/Cover/Cover.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  box-shadow: 0 100px 20px rgba(0, 0, 0, 0.6);
}

.vision-container {
  width: auto;
  display: flex;
  justify-content: flex-start;
  margin-right: -2px;
  z-index: 10;
}

.vision-box {
  background-color: var(--main-gold);
  color: #000;
  height: 500px;
  width: 320px;
  border-top-left-radius: 1000px 300%;
  border-bottom-left-radius: 500px 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 180px 60px 60px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-shadow: -15px 0 40px rgba(0, 0, 0, 0.5);
}

.vision-title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  margin: 0;
  font-family: "Alexandria", sans-serif;
  text-transform: uppercase;
}

.arrow-icon {
  font-size: 2rem;
  margin-left: 20px;
  display: inline-block;
  transform: rotate(180deg);
  color: #000;
  font-weight: bold;
}
