.section-divider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
  z-index: 5;
}

.divider-arrow {
  width: 180px;
  height: 100px;
  margin-bottom: 100px;
  filter: drop-shadow(0 0 10px rgba(0, 150, 136, 0.6));
  animation: floatArrow 2s infinite ease-in-out;
}
